
.service-detail .card{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.100)!important;
    width:20rem;
}
.service-detail .card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.service-detail .card-body{
    padding: 3rem 10px !important;
    text-decoration: justify;

}
.service-detail .card-text{
    font-size:0.9rem;
    padding: 0.4 rem 1.9rem;
}
.container-fluid .row{
    padding-top: 6rem;
}

.service-detail .card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}
.service-detail .overflow{
    overflow: hidden;
}
.service-detail .card-img-top:hover{
    transform:scale(1.5);
}

.service-btn{
    height: 60px;
    width: 250px;
    border-radius: 100px;
    border:none;
    color:white;
    font-size:25px;
    font-weight: bold;
    background-image: linear-gradient(to left, #12cbc4,#0652dd,#12cbc4)

}